@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #ffff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ************************ DARK THEME VARIABLES ************************ */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a{
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 18rem;
}

aside {
    height: 100vh;
    position: fixed;
    width: 14rem;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

/* ************************ SIDEBAR ************************ */

aside .sidebar {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.statistics {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.statistics::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.statistics span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover { 
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* ************************ Right ************************ */

.top-right {
    margin-top: 1.6rem;
}

.top-right {
    display: flex;
    justify-content: right;
    gap: 2rem;
}

.top-right button {
    display: none;
}

.top-right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.top-right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.top-right .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.top-right .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* ************************ Data table ************************ */
.data-table {
    margin-top: 6.4rem;
}

.data-table h2 {
    margin-bottom: 2rem;
}

.data-table table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    border-color: #202528;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.data-table table:hover {
    box-shadow: none;
}

.data-table table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.data-table table tbody tr:last-child td {
    border: none;
}

.data-table .submit {
    text-align: center;
    display: block;
    margin: 1rem auto;
    background: var(--color-primary);
    height: 2.5rem;
    width: 6rem;
    color: var(--color-white);
    border-radius: 0.5rem;
    cursor: pointer;
}

.delete-button {
    text-align: center;
    display: block;
    margin: 1rem 0 1rem 1rem;
    background: var(--color-danger);
    height: 2rem;
    width: 4rem;
    color: var(--color-white);
    border-radius: 5rem;
    cursor: pointer;
}

.data-table table tbody tr:last-child div {
    border: none;
}

.edit-button {
    text-align: center;
    display: block;
    margin: 1rem 1rem 1rem 1rem;
    background: var(--color-warning);
    height: 2rem;
    width: 4rem;
    color: var(--color-white);
    border-radius: 5rem;
    cursor: pointer;
}
/********************* Pop up *********************/
.popup h2 {
    font-size: 15rem;
    color: #484848;
}

.top-popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-popup {
    font-size: 15rem;
    color: #BDBDBD;
    cursor: pointer;
}

.middle-popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit-place {
    display: flex;
    flex-direction: column;
}

.edit-location {
    display: flex;
    flex-direction: column;
}

.middle-popup input {
    margin-bottom: 10rem;
    margin-top: 5rem;
    font-family: poppins, sans-serif;
    color: #333;
    font-size: 12rem;
    padding: 10rem 15rem;                                      
    border-radius: 5rem;
    background-color: #f7f2f2;
    width: 90%;
    display: block;
    transition: all 0.3s;
}

.middle-popup label {
    font-family: poppins, sans-serif;
    font-size: 10rem;
    display: flex;
    justify-content: flex-start;
}

.bottom-popup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50rem;
}

.button-popup {
    margin: 10rem;
    text-align: center;
    background-color: var(--color-white);
    height: 25rem;
    width: 80rem;
    color: #F58119;
    border-radius: 6rem;
    font-size: 15rem;
    font-family: poppins, sans-serif;
    cursor: pointer;
    transition: all 300ms ease;
}

.button-popup:hover{
    background-color: #D1D1D1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 50%;
    visibility: hidden;
    transition: opacity 400ms;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s; 
    opacity: 0;
}


.popup {
    background: var(--color-white);
    width: 500rem;
    height: 145rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: 0rem 4rem 6rem var(--color-light);
    transition: all 300ms ease;
    position: relative;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 1;
}

.blur {
    filter: blur(0.2rem)
};

/****************** table *****************/
.data-table table tbody tr:last-child div {
    border: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.top-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-table .search-bar {
    width: 3rem;
    height: 3rem;
    border-radius: 2.3rem;
    background: #50dbd4;
    margin-right: 1rem;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}

.top-table .search-bar.active{
    width: 22rem;
}

.top-table .search-bar .icon {
    position: absolute;
    top: 50%;
    left: 1.9rem;
    transform: translate(-50%, -50%);
}

.top-table .search-bar .icon .search {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: var(--color-background);
    cursor: pointer;
}

.top-table .search-bar .input {
    position: relative;
    width: 18.78rem;
    height: 3rem;
    left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-table .search-bar .input input{
    position: absolute;
    top: 6%;
    width: 100%;
    height: 90%;
    border-radius: 3rem;
    font-size: 1.2rem;
    outline: none;
    text-align: center;
    font-family: poppins, sans-serif;
}

